* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
html, body {
    padding: 0px;
    margin: 0px;
    width: 100%;
    height: 100%;
    /* font-family: 'Roboto',Franklin Gothic Medium, Arial Narrow, Arial, sans-serif; */
    overflow-x: hidden;
    text-rendering: optimizeLegibility;
    background-color: rgb(245, 245, 245);
}
h1,h2,h3,h4,h5,h6,p{
    padding: 0px;
    margin: 0px;
}
header nav .nav-wrapper{
    height: 50px;
}
header nav{
    line-height: 50px;
    height: 50px;
}
nav i, nav [class^="mdi-"], nav [class*="mdi-"], nav i.material-icons {
    display: block;
    font-size: 18px !important;
    height: 50px !important;
    line-height: 50px !important;
}
.collapsible li >a:hover {
    color: black !important;
    font-weight: 500;
    margin: 0px;
}
.active-col {
    background-color: white ;
    border-radius: 4px;
    color: black !important;
    font-weight: 500;
    margin: 0px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 4px 1px -4px rgba(0,0,0,0.12), 0 1px 4px 0 rgba(0,0,0,0.2) !important;
}
.collapsible li > a{
    margin: 0px !important;
    color: rgba(128, 128, 128, 0.842) !important;
}
.no-shadow{
    box-shadow: none !important;
}
.collapsible li .no-transition:hover{
    background-color: transparent !important;
    border-radius: none !important;
    color: grey !important;
    margin: 9px !important;
    box-shadow: none !important;
}
.collapsible{
    background-color: transparent !important;
    box-shadow: none !important;
    border: none !important;
}
.collapsible-header {
    background-color: transparent;
    border-bottom: none;
}
.container {
    margin: 0 auto;
    max-width: 1380px;
    width: 90%;
}
.btn, .btn-large, .btn-small, .btn-flat {
    text-transform: capitalize;
}
.dgb-text{
    color: dodgerblue !important;
}
.icon-top{
    font-size: 24px;
}
input[type=text]:not(.browser-default){
    font-weight: 500;
}
.input-field>label:not(.label-icon).active {
    -webkit-transform: translateY(-8px) scale(0.9);
    transform: translateY(-8px) scale(0.9) !important;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    color: dodgerblue !important;
}
label {
    font-size: .8rem;
    color: #9e9e9e;
}
input[type=text]:not(.browser-default):focus:not([readonly]){
    border-bottom: 2px solid dodgerblue !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}
input.valid[type=text]:not(.browser-default){
    border-bottom: 2px solid #4CAF50 !important;
    -webkit-box-shadow: 0 1px 0 0 #4CAF50 !important;
    box-shadow: none !important;
}
.content-header{
    padding-bottom: 6px;
}
.dgb{
    background-color: dodgerblue !important;
}
.fixed{
    position: fixed;
}
.nosh{
    box-shadow: none;
}
.bdr{
    border: 1px rgba(187, 186, 186, 0.945) solid;
    border-radius: 5px;
}
.height-help{
    height: 50vh;
    overflow-y: scroll;
}
.height-trash{
    height: 60vh;
    overflow-y: scroll;
}
.height-overall{
    height: 60vh;
    overflow: scroll;

}
nav.nav-extended .nav-wrapper {
    min-height: 50px;
    line-height: 50px;
    height: 50px
}
.pad-reduce{
    padding:10px !important;
}
.form-header{
    padding:28px !important;
}
.active-nav{
    border-bottom : 3px dodgerblue solid;
    background-color: transparent !important;
    color: dodgerblue !important;
}
.tabs .tab {
    -webkit-box-flex: 0;
    -webkit-flex-grow: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
}
.tabs .tab {
    text-transform: capitalize;
}
.tabs .tab a {
    padding: 0 10px;
}
nav ul li.active-nav {
    background-color: rgba(0,0,0,0.1);
}
.tabs.tabs-transparent .tab a{
    color: black;
}
.tabs.tabs-transparent .tab a:hover, .tabs.tabs-transparent .active-nav > a {
    color: dodgerblue;
}
.nav-extended{
    border-bottom: 1px rgba(187, 186, 186, 0.418) solid;
}
.navcon{
    font-size: 15px !important;
}
